#message{
	font-size: 40px;
	width: 440px;
	text-align: right;
}

button{
	font-size: 24px;
	margin: 5px;
	width: 100px;
	height: 100px;
	border: solid 2px black;
}

.line1{
	background-color: #FF3333;
}
.line2{
	background-color: #FFAA33;
}
.line3{
	background-color: #FFFF33;
}
.line4{
	background-color: #33FF33;
}
